.pixel-art {
	position: relative;
	top: 0;
	left: 0;
	height: 1px;
	width: 1px;
	box-shadow:

0px 0px rgba(0, 123, 148, 0),
1px 0px #000000,
2px 0px #BD7321,
3px 0px #DEAD63,
4px 0px #FFE79C,
5px 0px #A50010,
6px 0px #FF0018,
7px 0px #FF84AD,
8px 0px #0063B5,
9px 0px #189CE7,
10px 0px #8CDEFF,
11px 0px #7B8C94,
12px 0px #9CADB5,
13px 0px #BDC6CE,
14px 0px #DEE7E7,
15px 0px #FFFFFF,
0px 1px #007B94,
1px 1px #000000,
2px 1px #BD7321,
3px 1px #DEAD63,
4px 1px #FFE79C,
5px 1px #C652C6,
6px 1px #FF8CFF,
7px 1px #FFCEFF,
8px 1px #733900,
9px 1px #A55A18,
10px 1px #DE7318,
11px 1px #218400,
12px 1px #5AB521,
13px 1px #7BDE52,
14px 1px #B5FF8C,
15px 1px #FFFFFF,
0px 2px #007B94,
1px 2px #000000,
2px 2px #52299C,
3px 2px #8C63BD,
4px 2px #B594DE,
5px 2px #CE9400,
6px 2px #F7E700,
7px 2px #FFFFA5,
8px 2px #31398C,
9px 2px #4A5A94,
10px 2px #6384AD,
11px 2px #42636B,
12px 2px #7B8C94,
13px 2px #ADB5BD,
14px 2px #D6DEDE,
15px 2px #FFFFFF,
0px 3px #007B94,
1px 3px #000000,
2px 3px #9C0000,
3px 3px #D63900,
4px 3px #FF845A,
5px 3px #008484,
6px 3px #31BDF7,
7px 3px #73FFFF,
8px 3px #9C5A00,
9px 3px #CE9C00,
10px 3px #FFF700,
11px 3px #218400,
12px 3px #5AB521,
13px 3px #7BDE52,
14px 3px #D6EFA5,
15px 3px #FFFFFF,
0px 4px #007B94,
1px 4px #000000,
2px 4px #0052C6,
3px 4px #008CFF,
4px 4px #39CEFF,
5px 4px #0052C6,
6px 4px #008CFF,
7px 4px #39CEFF,
8px 4px #E73963,
9px 4px #FF8CAD,
10px 4px #FFC6D6,
11px 4px #9C0000,
12px 4px #D63900,
13px 4px #FF845A,
14px 4px #FFC6AD,
15px 4px #FFFFFF,
0px 5px #007B94,
1px 5px #000000,
2px 5px #006B00,
3px 5px #00A539,
4px 5px #39E77B,
5px 5px #10A552,
6px 5px #4ADE8C,
7px 5px #8CFFCE,
8px 5px #5263B5,
9px 5px #849CFF,
10px 5px #B5CEFF,
11px 5px #733900,
12px 5px #A56B00,
13px 5px #DEB500,
14px 5px #FFF700,
15px 5px #FFFFFF,
0px 6px #007B94,
1px 6px #000000,
2px 6px #9C5A00,
3px 6px #CE9C00,
4px 6px #FFF700,
5px 6px #00AD00,
6px 6px #00FF00,
7px 6px #7BFF7B,
8px 6px #9C0000,
9px 6px #D63900,
10px 6px #FF845A,
11px 6px #0039AD,
12px 6px #2184D6,
13px 6px #42C6FF,
14px 6px #A5EFFF,
15px 6px #FFFFFF,
0px 7px #007B94,
1px 7px #000000,
2px 7px #52009C,
3px 7px #8C00D6,
4px 7px #DE4AFF,
5px 7px #BD5200,
6px 7px #FF9400,
7px 7px #FFCE31,
8px 7px #843984,
9px 7px #AD6BB5,
10px 7px #D694DE,
11px 7px #215AC6,
12px 7px #52A5E7,
13px 7px #7BE7FF,
14px 7px #B5FFFF,
15px 7px #FFFFFF,
0px 8px #007B94,
1px 8px #000000,
2px 8px #0052C6,
3px 8px #008CFF,
4px 8px #39CEFF,
5px 8px #63B500,
6px 8px #ADFF00,
7px 8px #F7FF73,
8px 8px #BD7321,
9px 8px #DEAD63,
10px 8px #FFE79C,
11px 8px #52009C,
12px 8px #8C00D6,
13px 8px #B54AFF,
14px 8px #CEA5FF,
15px 8px #FFFFFF,
0px 9px #007B94,
1px 9px #000000,
2px 9px #008484,
3px 9px #31BDF7,
4px 9px #73FFFF,
5px 9px #006B00,
6px 9px #00A539,
7px 9px #39E77B,
8px 9px #733900,
9px 9px #DE7318,
10px 9px #FF9442,
11px 9px #BD8C00,
12px 9px #DEC600,
13px 9px #FFF700,
14px 9px #FFFF7B,
15px 9px #FFFFFF,
0px 10px #007B94,
1px 10px #000000,
2px 10px #9C0000,
3px 10px #D63900,
4px 10px #FF845A,
5px 10px #4A5A6B,
6px 10px #63849C,
7px 10px #B5C6CE,
8px 10px #218400,
9px 10px #5AC631,
10px 10px #8CFF63,
11px 10px #002942,
12px 10px #4A6B7B,
13px 10px #94ADB5,
14px 10px #DEEFEF,
15px 10px #FFFFFF,
0px 11px #007B94,
1px 11px #000000,
2px 11px #9C5A00,
3px 11px #CE9C00,
4px 11px #FFF700,
5px 11px #841000,
6px 11px #BD4A00,
7px 11px #FF8C39,
8px 11px #7B8C94,
9px 11px #ADB5BD,
10px 11px #D6DEDE,
11px 11px #000000,
12px 11px #212929,
13px 11px #4A5252,
14px 11px #8C948C,
15px 11px #FFFFFF,
0px 12px #007B94,
1px 12px #000000,
2px 12px #0052C6,
3px 12px #008CFF,
4px 12px #39CEFF,
5px 12px #00008C,
6px 12px #0000C6,
7px 12px #7373FF,
8px 12px #5AA5E7,
9px 12px #8CDEFF,
10px 12px #C6EFFF,
11px 12px #5A2900,
12px 12px #945208,
13px 12px #C67318,
14px 12px #E7BD8C,
15px 12px #FFFFFF,
0px 13px #007B94,
1px 13px #000000,
2px 13px #E73963,
3px 13px #FF8CAD,
4px 13px #FFC6D6,
5px 13px #52009C,
6px 13px #8C00D6,
7px 13px #DE4AFF,
8px 13px #D6A500,
9px 13px #E7C600,
10px 13px #FFF700,
11px 13px #8C00D6,
12px 13px #B54AFF,
13px 13px #CEA5FF,
14px 13px #E7D6FF,
15px 13px #FFFFFF,
0px 14px #007B94,
1px 14px #000000,
2px 14px #52009C,
3px 14px #8C00D6,
4px 14px #DE4AFF,
5px 14px #9C00B5,
6px 14px #D600EF,
7px 14px #FF7BFF,
8px 14px #BD5200,
9px 14px #FF9400,
10px 14px #FFCE31,
11px 14px #218CDE,
12px 14px #42C6FF,
13px 14px #7BE7FF,
14px 14px #B5FFFF,
15px 14px #FFFFFF,
0px 15px #007B94,
1px 15px #000000,
2px 15px #218400,
3px 15px #5AC631,
4px 15px #8CFF63,
5px 15px #A50039,
6px 15px #FF0094,
7px 15px #FF7BFF,
8px 15px #ADB5BD,
9px 15px #D6DEDE,
10px 15px #FFFFFF,
11px 15px #AD3900,
12px 15px #D67B00,
13px 15px #FFB500,
14px 15px #FFDE7B,
15px 15px #FFFFFF;
}
